@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	background:url(http://www.moem.cc/template/moon_palace/image/body_bg.jpg);	
}

.mimio{
	position:absolute;
	right:50px;
	top:200px;	
	cursor:auto;
}

.ui-dialog{
	position:relative;
	width:200px;
	height:auto;;
	border:1px solid #E87A73;
	background:#FFFFEE;	
	top:60px;
	right:162px;
	border-radius:5px;
	text-align:left;
	line-height:16px;
	padding:0px 5px;
	font-size:12px;
	color:#999;
	font-family:"微软雅黑";
}
