@charset "utf-8";
/* CSS Document */


#iSay{
	color:#e23a6e;
	width:560px;
	height:30px;
	
	font-family:"Arial";
	font-size:18px;
	font-weight:700;	
}
.ad{
	height:300px;
	overflow:hidden;
	width:560px;
	
	
}
li{
	margin:0;
	padding:0;
	list-style:none;
	float:left;	
	width:100%;
}